<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Zaccaria Boussetta">
        <link rel="stylesheet" href="static\styles.css" >
        <link rel="icon" href="static\icon.png" type="image/png">
        <title>Movies</title>
    </head>
    <body>
        <header>
            <div class="titleBG">
                <h1 id="title">Movies Searcher</h1>
            </div>
        </header>
        <main>
            {% block content%}
            {% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>     